<div class="container mt-1">
  <div class="jumbotron">
    <h1 class="display-4 text-center"><span class="fas fa-comment-dots"></span> My Speeches</h1>
    <app-header></app-header>
    <div [@triggerName]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <footer id="sticky-footer" class="text-dark">
      <div class="container text-center">
        <a routerLink="/about"><small>&copy;2020 Michael Robin M. Dasmariñas | About</small></a>
      </div>
    </footer>
  </div>
</div>